doctype
html
  head
    link(rel="stylesheet" type="text/css" href="/css/mystyle.css")
    title Example Venn.js
    h1(style = "text-align: center;").
        Cramer-Tersect Venn Diagram
    h3(style ="text-align: center;").
        Tomato.tsi
    script(src="http://d3js.org/d3.v5.min.js" charset="utf-8")
    script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js")
    script(src='https://code.jquery.com/ui/1.12.1/jquery-ui.min.js', integrity='sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU=', crossorigin='anonymous')
    script(src="/js/venn.js")
    script(src="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.min.js")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/noty.css")
    link(rel="stylesheet" href="https://cdn.jsdelivr.net/npm/noty@3.2.0-beta/lib/themes/light.css")

  body
    .container
      .main-content
      br
      br
      .containerDIV
        .sidenav
          div
              input#searchBox(type="text" placeholder="Search for samples...")
              span(style="display:inline-block; width: 5px;")
              button#wildbutton(type="submit") Add Group
              br
              br
              label(for="A") File set 'A'
                input#A(type="radio" name="fileset"  value="File A")
              span(style="display:inline-block; width: 5px;")
              label(for="B") File set 'B'
                input#B(type="radio" name="fileset"  value="File B")
          <h4>Samples from TSI file</h4>
          div
          #divTable
            table#genomeTable(align="center")


           button#clearFile Clear all files selected
           button#clearOperations Clear all operations
           br
           br

        div
        #main
          #venn(style="text-align: center;").
          div(style="text-align: center;")
            output(Save As...)
            input(type="text" #filepath)
            button#submit(type="submit") Submit

        div
        #tooltipdiv
                table#sampleA.venntooltip
                  tbody
                    tr
                      th
                        button(#hideA) &times
                        | Samples in A

                    tr#hereA
                table#sampleB.venntooltip
                  tbody
                    tr
                      th
                       button#hideB &times
                       | Samples in B
                    tr#hereB
        script(src="/js/example_venn.js")
